html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

.controls {
    position: absolute;
    top: 5px;
    left: 30px;
    z-index: 1;
}

.labels {
	background: white;
	font-size: 10pt;
}

#loading {
	position: absolute;
	top:30px;
	left:30px;
	z-index: 1;
	display: none;
	height: 48px;
	width: 48px;
}